


<h1> My name is <%= @samp %><%= @samp %></h1>
<% unless @samp %>
<form method="post">name: <input type="text" name="book"><input type="submit" value="Submmmmmmit"></form>
<% end %>
<div>
<img src='http://bit.ly/1eze8aE' alt='a picture of a cat' style='border: 5px dashed red'>
</div>
